<ul *ngIf="!currentUser?.userName" class="nav navbar-nav navbar-right">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="login">{{'app.login' | translate}}</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="register">{{'app.register' | translate}}</a>
  </li>
</ul>
<ul *ngIf="currentUser?.userName" class="nav navbar-nav navbar-right">
  <li routerLinkActive="active">
    <a routerLink="user">{{'app.welcome' | translate}}：{{currentUser?.userName}}</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="manage">{{'app.console' | translate}}</a>
  </li>
  <li>
    <a href="javascript:void(0);" (click)="doLogout()">{{'app.logout' | translate}}</a>
  </li>
</ul>
